html, body {
	margin: 0;
	padding: 0;
	height: 100%;	
}

@font-face {
	font-family: yeah-papa;
	src: url(../font/yeah-papa/YeahPapa.ttf);
}

#intro {
	font-family: yeah-papa;
}

#titulo {
	font-size: 800%;
}

#sol-titulo {
	font-size: 500%;
}

#titulo, #sol-titulo, #subtitulo {
	color: #f2bc32;
}

#subtitulo {
	font-size: 450%;
}

nav ul li a {
	font-size: 20px;
}

section {
	width: 100%;
	padding: 0;
	margin: 0;
}

.wave {
	padding-top: 150px;
	background-image: url(../res/img/bg1.jpg);
	background-position: center top;
	min-height: 800px;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.beneficios {
	background: linear-gradient(#4DD0E2, #3cabb7)
}

#titulo-beneficios {
	padding-bottom: 30px;
}

#beneficios {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*.beneficios select {
    margin-top: 17px;
    padding-bottom: 5px;
    border: 1px solid black !important;
    color: black !important;
}*/

    .beneficios select:after {
        border: 1px solid orange !important;   
    }

.beneficios .txtinput {
    padding-top: 10px !important;
    color: black !important;  
}

.filtroNomeEmpresa {
    padding-bottom: 30px !important;
}

.filtros input{
    border-bottom: 1px solid black !important;
}

.labelErrado {
    left: 17px !important;
    color: #494949 !important;
}

#filtroCategoriaEmpresa {
    border-right: none;
    border-left: none;
    border-top: none;
    background: none;
    border-bottom: 1px solid black;
/*    margin-top: 20px;*/
}

.iconefiltro {
    font-size: 28px !important;
    top: 10px;
    left: 23px;
}

.bold {
    font-weight: 400;
        
}

.boldTitulo {
    font-weight: 500;
}

#italic {
    font-style: italic;
}
.contato {
	background: linear-gradient(#3cabb7, #0b6c70)
        
}

.centered-col {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-capa {
    padding-top: 20px;
}

.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    margin-bottom: 10px;
}

.social .fa-facebook:hover{
	background-color: #3b5998;
}

.social .fa-google-plus:hover{
	background-color: #d34836;
}

.social .fa-linkedin:hover{
	background-color: #0077B5;
}

.social .fa-twitter:hover{
	background-color: #00aced;
}

.hidden {
	opacity: 0;
}

.op {
	opacity: 0.9;
}

.fa-sign-in {
	color: black;
}

.empresa {
    padding-bottom: 60px;   
}

#secCadastroEmpresa, .acoes-estoque {
	padding-top: 150px;
	background-color: #e0f8fa;
}

#secCadastroEmpresa label {
	left: 15px;
}

.dados-empresa {
	border: 3px solid black;
}

.row-bottom-margin { margin-bottom: 0px;
padding-bottom: 0; }

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: table;
  width: 100%;
}

.content {
  display: table-row;
  height: 100%;
  margin-top: 150px;
 
}

.footer {
  padding-top: 0px;
}

.tabela-estoque {
	background-color: #e0f8fa;
	padding-top: 150px;
}

.tabela-estoque tr {
	text-align: center;
}

.tabela-estoque table, th, td {
   border: 1px solid black !important;
   
}

.fa-refresh:hover {
	color: green;
	transition: color 0.2s;
	cursor: pointer;
}

.fa-close:hover {
	color: red;
	transition: color 0.2s;
	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tab-pane .fade .in .show .active {
	background-color: black !important;
}

.nav-link .active {
	color: white !important;
}

.equipe {
/*    background-color: #e0f8fa;*/
    background: linear-gradient(#3cabb7, #0b6c70);
}

#equipe {
	text-align: center;
	
	padding: 150px 40px;
}

#equipe h2 {
	font-size: 500%;
	margin-bottom: 30px;
    font-family: yeah-papa;
    text-align: center;
    color: #FFA000;
    padding-bottom: 20px;
}


#foto img {
	border: 2px solid black;
	filter: grayscale(100%);
	transition: filter 0.5s;
	transition: border 0.5s;

}

#descricao {
	margin: 20px 0;
}

#descricao h3 {
	font-size: 275%;
}

.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: auto 3px;
    width: 35px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.fa-twitter:hover { 
    background-color: #46c0fb; 
}

#primeiro-membro, #segundo-membro, #terceiro-membro, #quarto-membro, #coracao {
	opacity: 0;
}

#primeiro-membro:hover #foto img{
	filter: grayscale(0%);
}

#segundo-membro:hover #foto img{
	filter: grayscale(0%);
}

#terceiro-membro:hover #foto img{
	filter: grayscale(0%);
}

#quarto-membro:hover #foto img{
	filter: grayscale(0%);
}

#primeiro-membro:hover #foto img{
	border: 2px solid #FFA000;
}

#segundo-membro:hover #foto img{
	filter: grayscale(0%);
	border: 2px solid #FFA000;
}

#terceiro-membro:hover #foto img{
	filter: grayscale(0%);
	border: 2px solid #FFA000;
}

#quarto-membro:hover #foto img{
	filter: grayscale(0%);
	border: 2px solid #FFA000;
}


#primeiro-membro:hover .social .fa-facebook{
	background-color: #3b5998;
}

#primeiro-membro:hover .social .fa-github{
	background-color: #6e5494;
}

#primeiro-membro:hover .social .fa-linkedin{
	background-color: #0077B5;
}

#segundo-membro:hover .social .fa-facebook{
	background-color: #3b5998;
}

#segundo-membro:hover .social .fa-github{
	background-color: #6e5494;
}

#segundo-membro:hover .social .fa-linkedin{
	background-color: #0077B5;
}

#terceiro-membro:hover .social .fa-facebook{
	background-color: #3b5998;
}

#terceiro-membro:hover .social .fa-github{
	background-color: #6e5494;
}

#terceiro-membro:hover .social .fa-linkedin{
	background-color: #0077B5;
}

#quarto-membro:hover .social .fa-facebook{
	background-color: #3b5998;
}

#quarto-membro:hover .social .fa-github{
	background-color: #6e5494;
}

#quarto-membro:hover .social .fa-linkedin{
	background-color: #0077B5;
}

#quarto-membro:hover #descricao h3 {
	color: #FFA000;
}

#quarto-membro:hover #descricao h4 {
	color: #ce7f00;
}

#terceiro-membro:hover #descricao h3 {
	color: #FFA000;
}

#terceiro-membro:hover #descricao h4 {
	color: #ce7f00
}

#segundo-membro:hover #descricao h3 {
	color: #FFA000;
}

#segundo-membro:hover #descricao h4 {
	color: #ce7f00;
}

#primeiro-membro:hover #descricao h3 {
	color: #FFA000;
}

#primeiro-membro:hover #descricao h4 {
	color: #ce7f00;
}

